$navbarHeight: 3vh;
$sidebarWidth: 2vw;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

html {
    background-color: #23272a;
}

body {
    min-height: 100vh - $navbarHeight;
    max-width: 85%;
    margin-right: $sidebarWidth;
    padding: 0 auto;
    margin-top: $navbarHeight;
    padding-top: $navbarHeight;
}

header {
    #navbar {
        width: 100vw;
        height: $navbarHeight;
        padding: $navbarHeight;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #2f3135;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 2rem;
        }
    }
}

main {
    width: 100%;
    min-height: 100%;
    padding: 1% 5%;

    #sidebar {
        width: $sidebarWidth;
        border-style: solid;
        border: 2px black;
        position: absolute;
        right: 0;
        left: 95%;
        top: 25%;

        .sidebar-image {
            width: 2em;
            height: 2em;
        }
    }

    #selectable-buttons {
        display: grid;
        gap: 0.5%;
        width: 100%;
        min-height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        a {
            width: 100%;

            button {
                color: white;
                background-color: #2f3135;
                height: 10em;
                width: 25em;
                border: none;
                border-radius: 25%;
                font-size: larger;
            }
        }
    }
}