*,
*::before,
*::after {
    box-sizing: border-box;
    //border: 1px solid black;
    border: none;
    color: rgb(255, 255, 255);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

a {
    text-underline-position: under;
    text-decoration-thickness: 8;
}

html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}

body {
    padding: .3rem 3rem;
    background-color: rgb(0, 140, 255);
    background: linear-gradient(to bottom right, #59bdff,
            #007fd3, );
}